<h2>Your Posts:</h2>
<ul style="list-style-type: none">
  {{#each posts as |post|}}
    {{> post-list post }}
  {{/each}}
</ul>

<section>
    <h2>Create a New Post</h2>
    <form class="m-2" id="post-form">
        <div class="form-group">
            <label for="post-title">Post Title</label>
            <input type="text" class="form-control" name="post-title" placeholder="Title">
        </div>
        <div class="form-group">
            <label for="post-area"><h5>Add Post Content</h5></label>
            <textarea name="post-area" class="form-control" id="post-area" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit Post</button>
    </form>
</section>

<script src="../public/javascript/add-post.js"></script>